body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.half-width{
    width: 50%;
    padding-left: 60px;
}
.half-width img{
    width: 70%;
}
section{
    
    margin-bottom: 150px;
}
.flexible-area{
display: flex;
}
.button-area{
    text-decoration: none;
    background-image: linear-gradient(45deg, white, tomato);
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}
h1{
    color: teal;
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.about-me-section{
    background-image: url("../food-network/images/shapes/7.png");
   
}
.text-center{
    text-align: center;
}
.recipe-box{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 10px gray;
    border: 1px solid white;
    border-radius: 5%;  
    padding: 5px;
    
}
.recipe-box img{
    width: 100%;
}

footer{
    background-color: black;
    color: white;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 150px;
}
.extra-padding-top{
    padding-top: 80px;
}
.contact-us-section{
    background-image: url("../food-network/images/shapes/Frame\ 58.jpg");
}